body{

	background-color:#7AD9DC;

}

.jumbo-container{

	margin-top:40px;
}
.jumbotron{

	background-color: inherit;

}
.page-header{

	color:#FFF;
}

.how-to{
	color:#FFF;
}

.gif-term-column{
	margin-top:10px;
	margin-left:50px;
}

.thumbnail>img{

	height:200px;
	width:200px;
}
.term-container{

	margin-bottom:100px;
}
.search-button{
	margin-top: 20px;
}